body{
    background-color: bisque;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table,th,td{
    border: 2px darkblue;
    border-style:solid;
    background-color: rgb(126, 211, 236);
    padding: 10px;
    border-width: 5px;
}

th{
    background-color: yellow;
    color: darkblue;
}

table:hover{
    background-color: pink;
}

table{
    border-collapse: collapse;
    margin-top: 12%;
    margin-left: 30%;
    width: 40%;
}

caption{
    color: darkblue;
    font-size: 30px;
    padding-bottom: 10px;
}